.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 1em;
}

.grid-item {
  background-color: rgba(55, 55, 55, 0.4);
  border-radius: 10px;
  padding: 10px;
  text-align:center;
}

img {
  width:100px;
  height:100px;
}